= form_for @menu_item do |f|
  = render 'shared/error_messages', :object => f.object

  = f.label t('menu_item.name') 
  = f.text_field :name, :class => "span6"
  
  = f.label t('menu_item.description') 
  = f.text_area :description, :class => "span6", :rows => 10

  = f.label t('menu_item.type')
  = collection_select(:menu_item, :item_type_id, ItemType.all, :id, :name, {:include_blank => t(:select_blank)}, :class => "span6")

  = f.label t('menu_item.price')
  = f.text_field :price, :class => "span6"
  
  /.offset2
  = f.submit t('menu_item.save'), class: "btn btn-large btn-success"